<br>
<br>
<h3>Lista de asignaturas del profesor {{ profesor.nombre }}</h3>
<br>

<div class="table-responsive">
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th style="width: 60%;">Nombre</th>
            <th style="width: 20%;">Curso</th>
            <th style="width: 20%;">Estudiantes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let asignatura of asignaturas">
            <td>{{ asignatura.nombre }}</td>
            <td>{{ asignatura.curso.grado }}{{ asignatura.curso.salon }}</td>
            <td>
                <button class="btn btn-info active" (click)="verEstudiantes(asignatura.id)">Ver</button>
            </td>
        </tr>
    </tbody>
</table>
</div>

<button class="btn btn-warning active" (click)="regresarAProfesores()">Regresar a lista de profesores</button>